.App {
  text-align: center;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: blue;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.wrap-profile-site{
  width: 1200px;
  height: 100vh;
  margin: 60px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 60px;
  grid-template-areas:
  "settings profile"
  "footer footer"
}

.settings-profile{
  background-color: rgb(78, 78, 255);
  grid-area: settings;
}

.profile-content{
  background-color: rgba(76, 79, 255, 0.45);
  grid-area: profile;
}

.footer-site{
  background-color: rgb(125, 125, 125);
  grid-area: footer;
}

.wrap-nav{
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-column-gap: 10px;
  grid-template-areas:
  "logoImg areaSerach additionalSetings";
}

.wrap-img{
  grid-area: logoImg;
}

.area-serach{
  grid-area: areaSerach;
  background-color: aqua;
}

.additional-setings{
  grid-area: additionalSetings;
  background-color: blueviolet;
}

.wrap-img img{
  width: 40px;
  height: auto;
}

.wrap-rofile-section{
  margin: 20px 0 0 20px;
}

.groups{
  margin: 20px 0 20px 0;
}

.groups:first-child{
  margin-top: 0;
}

.groups:last-child{
  margin-bottom: 0;
}

.profile-content{
  display: flex;
  justify-content: center;
}

.wrap-profile{
  margin-top: 20px;
}

.record-img img{
  width: 700px;
}

.active-record{
  margin: 10px 0 5px 0;
}



.active-record img{
 width: 25px;
 margin-right: 50px;
}

.active-record img:last-child{
  margin-right: 0;
}

.comments{
  position: relative;
  margin:20px 0 30px 0;
}

.comments::before{
  content: '';
  height: 1px;
  width: 100%;
  position: absolute;
  top: -10px;
  left: 0;
  background-color: gray;
}

.comment{
  display: flex;
  align-items: center;
}

.comment img{
  height: 35px;
}

.comment input{
  height:30px;
  background-color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.575);
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

.comment button{
  font-size:30px;
  color:#58585847;
  height: 40px;
  background-color: inherit;
  border: 0;
  outline: none;
  border-radius: 10px;
}

.sent-comment{
  display: flex;
  margin-bottom: 30px;
}

.sender-photo,
.user-photo{
  width: 40px;
  height: 40px;
  background-color: orange;
  border-radius: 50%;
}

.data-sender{
  margin-left: 20px;
}

.name-sender{
  font-size: 18px;
  font-weight: 600;
}

.user-photo{
  margin-right: 25px;
  background-color: purple;
}
