.App {
  text-align: center;
}

.all-write{
  width: 1200px;
  height: 100vh;
  margin: 60px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "settings profile"
}

.settings-profile{
  background-color: rgb(78, 78, 255);
  grid-area: settings;
}

.act_rec{
  background-color: rgba(76, 79, 255, 0.45);
  grid-area: profile;
}
